<nav
  class="border-gray-200 bg-navbar dark:bg-gray-800 dark:border-gray-700 relative"
>
  <img src="assets/bg-professores.svg" class="bg-professores w-full" alt="" />
  <div
    class="w-full-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <div class="flex justify-start">
        <img src="assets/logo.png" class="h-10" alt="Flowbite Logo" />
      </div>
    </a>
    <button
      data-collapse-toggle="navbar-solid-bg"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-solid-bg"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
      <ul
        class="flex items-center justify-end font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700"
      >
        <li>
          <a
            href="#"
            class="block py-1 px-3 md:p-0 text-white bg-blue-700 rounded md:bg-transparent md:hover:text-blue-700 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent"
            aria-current="page"
            routerLink="/lista-professor"
            >Professores</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-1 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            routerLink="/list-salas"
            >Salas</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            routerLink="/lista-material"
            >Materias</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-5 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            routerLink="/lista-turmas"
            >Turmas</a
          >
        </li>
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-9 text-white"
            routerLink="/perfil"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </div>
      </ul>
    </div>
  </div>
</nav>
<body class="">
  <div class="flex justify-center items-center">
    <div class="w-3/5">
      <h1 class="text-center text-5xl mb-3 text-white titulo">
        Gerencie Professores, Salas, Materiais e Turmas
      </h1>
      <p class="text-base text-center text-white descricao">
        Bem-vindo ao Painel Administrativo! Aqui você pode cadastrar e gerenciar
        professores, salas, materiais e turmas de maneira simples e eficiente.
        Organize facilmente os recursos da escola e mantenha tudo atualizado em
        um só lugar.
      </p>
    </div>
  </div>

  <section class="mt-24">
    <div class="flex justify-center items-center">
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="assets/section1.png" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Professores</h3>
              <p class="text-sm">Gerencie os professores da instituição.</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todos os professores cadastrados na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/lista-professor"
          >
            Gerenciar Professores
          </button>
        </div>
      </div>
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="/assets/icon-sala.png" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Sala</h3>
              <p class="text-sm">Gerencie os salas da instituição.</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todos os professores cadastrados na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/list-salas"
          >
            Gerenciar salas
          </button>
        </div>
      </div>
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="/assets/icon-materiais.jpg" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Materiais</h3>
              <p class="text-sm">Gerencie os materiais da instituição.</p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todos os professores cadastrados na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/lista-material"
          >
            Gerenciar materiais
          </button>
        </div>
      </div>
      <div class="card shadow-md">
        <div class="flex justify-center">
          <div>
            <div class="flex justify-center items-center">
              <img src="/assets/icon-turma.jpg" class="img-card p-2" alt="" />
            </div>
            <div class="text-center">
              <h3 class="font-semibold">Turmas</h3>
              <p class="text-sm">Gerencie as turmas da instituição
                 </p>
            </div>
            <div class="my-4">
              <ul class="px-7 mt-3 text-sm ul-card">
                <li class="mb-2"><p>Cadastre</p></li>
                <li class="mb-2"><p>Edite</p></li>
                <li class="mb-2"><p>Remova</p></li>
                <li class="mb-2">
                  <p>Veja todos os professores cadastrados na instituição</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="">
          <button
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            routerLink="/lista-turmas"
          >
            Gerenciar turmas
          </button>
        </div>
      </div>
    </div>
  </section>
</body>
